$default_width: 30px;

$font_family_one: 'Yanone Kaffeesatz', sans-serif;

$white_color: #fff;
$black_light_color: #414140;
$yellow_color: #fcd53a;
$black_dark_color: #1b202b;
$gray_color: #9498a1;
$black_dark_two_color: #333332;
$gray_light_color: #cacaca;
$blue_dark_color: #050608;
$gray_light_two_color: #e8e8e8;
$gray_light_three_color: #cbcbcb;
$gray_dark_color: #8e8e8e;
$gray_light_four_color: #cacaca;